################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vcbuild/.vs/cpp2lua/v15
/vcbuild/Debug/cpp2lua.tlog
/vcbuild/Debug
